# DEMO CHECKPOINT M1

Dataset de información de clientes.

Primero importa tu(s) librerías con las cuáles trabajarás

In [ ]:
import pandas as pd

Instancia tu dataset como el objeto principal con el que trabajaras acorde a la librería

In [ ]:
df=pd.read_csv('datasets/clientes.csv')
df.head()

Ahora cumple los siguientes retos, tú puedes...

## Exploración de dataset

Cuántas columnas y cuántos registros tiene?

In [ ]:
df.shape[0]

In [ ]:
df.shape

In [ ]:
df.columns

Informa la cantidad de columnas con datos de tipo entero

In [ ]:
df.info()

Cuántos datos nulos tiene cada columna ?

In [ ]:
df.isnull().sum()

In [ ]:
df.isna().sum()

In [ ]:
df.count()

Informa la cantidad de registros sin  tener en cuenta aquellos con valores faltantes en el campo last_name, da el resultado en un dato tipo entero.

In [ ]:
df2=df.dropna(subset=['last_name'])
df2['last_name'].count()

## Transformación

Manos a la obra, a limpiar datos ;)

Si la columna de edad tiene valores nulos , vamos a rellenar esos valores nulos por el promedio de edad según el género.

In [ ]:
age_by_gender = df.groupby('gender')['age'].mean()
df['age']= df['age'].fillna(age_by_gender)
df

In [ ]:
print(df[['gender','age']].groupby(['gender']).mean().sort_values(by='age', ascending=False))

Ahora eliminemos todos los registros que aún tengan datos nulos en cualquier columna

In [ ]:
df.dropna()

Elimina todos los registros duplicados

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

Cambiemos todos los datos con valor tipo string a minúscula

In [ ]:
df=df.apply(lambda x:x.str.lower() if x.dtype == 'object' else x)
df

Los correos están horribles y no nos servirán de mucho, eliminemoslos ;)

In [ ]:
df.drop(columns='email', implace=True)

Cambia el orden de las columnas, primero apellido y luego nombre

In [ ]:
df =df.reindex(columns=['id','last_name', 'first_name', 'gender', 'country','age'])
print(df)

Por último , asegúrate que la edad esté en dato tipo integer

In [ ]:
df.info()

In [ ]:
df

In [24]:
df.dropna(inplace=True)
df['age']=df['age'].astype(int)
df

       id   last_name first_name      gender      country  age
0       1     MacAirt    Sephira      Female  Netherlands   50
1       2       Degoy  Gottfried        Male       Latvia   19
2       3       Denys      Dewie        Male        China   28
3       4      Gounel       Isac        Male       Brazil   85
4       5  Mc Carrick   Hernando        Male      Armenia   58
..    ...         ...        ...         ...          ...  ...
995   996        King    Dorothy      Female  Philippines   25
996   997      Tandey        Lev        Male        Japan   76
997   998      Lambol      Kelsy      Female       Russia   54
998   999     Krienke     Luella      Female    Indonesia   71
999  1000      Miller      Lorin  Polygender    Indonesia   18

[976 rows x 6 columns]

## Hora de insights...

¿Cuántas personas son de España? retorna en dato tipo entero

¿De cuántos países diferentes son los clientes? retorna dato de tipo entero

¿Cuál es el país con mayor cantidad de clientes?

Ordenando los países por orden alfabético , cuál es el último país?

Cuál es el nombre más común de hombre y cuál de mujer ?

Qué país tiene el promedio de edad más alto de mujeres?

Qué país tiene el promedio de edad más bajo de hombres ?

Por último crea una nueva columna de edad dada en meses donde sus valores sea la edad de clientes dada en meses, suponiendo que todos tienen años recién cumplidos :D

¡Felicidades, lo has logrado!